service vendor.usb-gadget-hal /vendor/bin/hw/android.hardware.usb.gadget-service.mediatek
    class hal
    user system
    group system shell mtp
    disabled

on property:sys.usb.configfs=2
    enable vendor.usb-gadget-hal
